variable "name" {
  type    = string
  default = "${name}"
}

variable "environment" {
  type    = string
  default = "${environment}"
}

variable "owner" {
  type    = string
  default = "${owner}"
}

variable "cost_center" {
  type    = string
  default = "${cost_center}"
}
